body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    text-align: center;
    padding: 20px;
}

nav ul{
    list-style-type: none;
    padding: 10px;
    background-color: #333;
}

nav ul li {
      color: white;
      text-decoration: none;
}

h1 {
    color: #2f07e2;
}
