<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %} My Title {% endblock %}</title>
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
  {% comment %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">{% endcomment %}
  {% load static %}
  {% comment %}<link rel="stylesheet" href="{% static 'css/bootstrap-utilities.rtl.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">{% endcomment %}
  {% block corecss %}
  {% endblock  %}
</head>
<body>
  <div class="content">
    <button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
    {% block content %}
    <h1>my side</h1>
    {% endblock  %}
    {% comment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>{% endcomment %}
{% comment %}
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endcomment %}  
</body>  