<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Home Page</h1>  
  <p>Welcome to the home page!</p>
  <div>
    <h1>About</h1>
    <p>This is the about page.</p>  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate asperiores doloribus, commodi nulla inventore, magni minus quod ipsam pariatur totam quasi debitis suscipit tenetur, nostrum assumenda impedit ratione ullam natus quos veniam enim nihil. Fugit aspernatur ea animi minus harum impedit aut commodi nostrum, itaque atque quas delectus ipsa cupiditate amet unde, iste fuga vitae nihil numquam laboriosam expedita alias ullam qui. Sequi est incidunt ipsam inventore recusandae voluptatibus mollitia dolores autem quia vel atque, non doloribus distinctio quaerat ipsum officia saepe, cum odio nemo dolore quasi. Aspernatur, incidunt expedita.</p>
  </div>
</body>
</html>