{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
  <h1>About Us</h1>
  <p>Welcome to our about page!</p>
  <p>We are a team of passionate individuals dedicated to providing the best services to our customers. Our mission is to create innovative solutions that make a difference in people's lives.</p>
  <p>Our team consists of experts in various fields, including technology, design, and customer support. We work together to ensure that our products and services meet the highest standards of quality and reliability.</p>
  <p>Thank you for visiting our about page. We look forward to serving you and providing you with the best experience possible.</p>
{% endblock %}